[Unit]
Description=v-carbon instance
Documentation=http://github.com/coder-van/v-carbon
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/v-carbon
User=v
Group=v
Type=simple
Restart=on-failure
WorkingDirectory=/usr/share/v-carbon
ExecStart=/usr/sbin/v-carbon

LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
